body {
  color: #0099b9;
  font-size: 120%;
  padding: 0 15px;
  margin: 0;
  font-family: serif;
  padding-bottom: 40px;
}
a {
  color: #0099b9;
}
a:visited {
  color: #22aada;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 300%;
  letter-spacing: -5px;
  font-weight: normal;
}
h2 {
  margin-bottom: 0;
}
ul {
  margin: 0;
  list-style: none;
}
li {
  padding: 0;
}
.service_url {
  font-size: 70%;
}
.powered {
  font-size: 70%;
}
.powered a, .powered a:visited {
    color: #337;
}
